<!DOCTYPE html>
<html lang="en">
<head>
<title>login</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/dashboard.css">
<script src="js/plugins/jquery-2.2.1.min.js"></script>
<script src="js/plugins/angular-1.4.9.min.js"></script>
<script src="js/plugins/bootstrap.min.js"></script>

<body ng-app="app" ng-controller="userController">

	<div class="container">
		<div class="row" style="margin-top:50px;">
			<div class="col-md-offset-2 col-md-4" style="border: 2px solid green;"
				ng-show="showLogin">
				<h2 class="text-center">Login Form</h2>
				<form class="form-horizontal" ng-submit="login()">
					<fieldset>

						<div class="control-group">
							<label class="control-label" for="email">Email:</label>
							<div class="controls">
								<input id="loginEmail" name="email" ng-model="user.email"
									class="form-control" type="text" placeholder="Enter your email"
									class="input-large" required="">
							</div>
						</div>

						<!-- Password input-->
						<div class="control-group">
							<label class="control-label" for="password">Password:</label>
							<div class="controls">
								<input required="" id="loginPassword" ng-model="user.password"
									name="password" class="form-control" type="password"
									placeholder="********" class="input-medium">
							</div>
						</div>

						<!-- Button -->
						<div class="control-group">
							<label class="control-label" for="signin"></label>
							<div class="controls">
								<input type="submit" id="submit" class="btn btn-success"
									value="Sign In" />
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

		<div ng-show="showUserDetails" ng-include="'userDetails.html'">
		</div>

	</div>

	<script>var App = angular.module('app',[]);</script>
	<script src="js/service/userService.js"></script>
	<script src="js/controller/userController.js"></script>
</body>
</html>